[2013-12-21 21:39] mpdehaan opened #215 "Submit roles to Galaxy?"
Just thought I might suggest it...

Would you be interested in splitting these into roles in a seperate directory and submitting to galaxy.ansibleworks.com?

I know you have some great content so I figured I would give it a shot.

You would then be able to have a setup.sh that was just

ansible-galaxy install username.role1 username.role2 username.role2 etc to fetch all the roles, and this would a

[2014-08-06 07:08] jesseproudman opened #466 "Move todos into Github issues?"
I propose we deprecate this file and move the specific items (if they're still applicable) into Github issues.  Any thoughts?

https://github.com/blueboxgroup/ursula/blob/master/doc/todo.md

[2014-09-15 17:32] masteinhauser opened #487 "Rogue dnsmasq process"
I stumbled across a rogue dnsmasq process running on Tardis today. I found this due to permission denied errors in `/var/log/syslog` and flooding our centralized logging system from this host. This process **did not** use the existing configs though there was a secondary process which **was** correctly using the configs. The process appeared to have been directly related to an `apt-get update`.

A

[2014-09-17 15:42] masteinhauser opened #491 "Pypi mirror no longer exists: pypi.openstack.org/openstack"
My recent builds have been failing due to this and @dlundquist noticed it last week too.

[2014-09-17 22:43] #491 closed, assigned to nobody

[2014-09-25 11:55] scoop206 opened #495 "/etc/hosts of compute node has wrong fqdn"
seeing the the ansible_fqdn var get rendered like the fqdn we are setting in group_vars/all.yml

This thread might be relevant:
https://groups.google.com/forum/#!msg/ansible-project/vpkLqyXFMYE/6fWiAoKhfEgJ

Although when I run socket.getfqdn() I get the fqdn of the local hostname like I would have expected.

Also, I'm not sure why we are even templatizing this.  This information should already be

[2014-11-06 09:15] omgjlk opened #562 "Move replication database discovery into the template that uses it"
Rather than having an echo task with a register, move that template stuff into the template itself.

[2014-11-06 09:24] omgjlk opened #563 "percona arbiter role is not idempotent"
Unconditionally:
  stops running service
  removes existing conf file

[2014-11-06 23:11] omgjlk opened #578 "migrate ufw command: calls to the ufw module"
We've got a mixture of command calls to ufw and a module that does that work for us. We should move all to the module if possible.

[2014-11-07 22:15] #563 closed, assigned to nobody

[2014-11-07 23:22] dlundquist opened #584 "Release-0.9.x upgrade fails to restart HAProxy"
During an upgrade to RELEASE-0.9.x from 60ab6ab3e HAProxy failed to restart complaining the ports were still in use. Examining the host `service haproxy restart` did fail, and `service haproxy stop` didn't terminate the running instance of HAProxy. I worked around this by manually killing the HAProxy process. Did we change the location of the HAProxy PID file?

[2014-11-08 00:04] dlundquist opened #585 "Release-0.9.x upgrade creates new cinder-volume services on controller nodes"
During an upgrade to RELEASE-0.9.x from 60ab6ab a new cinder-volume services appeared on each controller and keep-alives stopped being sent from the existing controllers. Examining the `cinder.services`, `@None` was appended to the end of the host field on the new services. Examining the Cinder database schema, it doesn't appear there are any foreign keys to the services table, so we could simple

[2014-11-08 09:43] craigtracey opened #587 "Remove hwraid repo"
We currently use hwraid repo for easy installation of both LSI and 3ware CLI utilities.  As this repo seems less reliable than desired and that we can move all the RAID logic to storcli, this seems like a win-win.

[2014-11-08 21:00] paulczar opened #589 "we need a way to allow for multihypervisors"
KVM + Baremetal + Docker.

To start with to support a homogenous cluster we should create a roll for each of:

compute-kvm, compute-ironic, compute-docker and genericize the compute role so that it can be called as a dependency of each ( perhaps it defaults to KVM for backwards compat? )

The we need to figure out what is needed to run more than one hypervisor class in a cluster, say KVM+Ironic. o

[2014-11-11 18:46] #578 closed, assigned to dlundquist

[2014-11-11 22:21] omgjlk opened #591 "restart tgt when conf changes"
Reading through the cinder-data role, tgt is configured and started, but there doesn't appear to be a facility to restart the service if/when config changes. Is it not necessary to restart if the config changes?

[2014-11-12 01:00] omgjlk opened #595 "swift services may be started then restarted"
There are numerous instances of a notify to restart a swift service, followed by a task to ensure a service is started. In the scenario where the service is not already running, ansible will start the service, then the handlers will be processed which will cause the service to be restarted.

We should follow the example of some other roles, where handlers are flushed before the final task to ensur

[2014-11-12 17:20] omgjlk opened #599 "heat service is not restarted to reflect config change"
The heat role could potentially make changes to heat config items, such as heat.conf, policy.json, or api-paste.ini. However there is no notify to restart the service should one of these configs change. Easy enough fix.

[2014-11-12 18:49] omgjlk opened #603 "Look at moving playbooks/monitoring.yml into a set of roles"
There is some extra work going on here to get the benefit of roles, without actually making it a set of roles, so maybe that should change and this should be a role.

[2014-11-12 19:11] omgjlk opened #605 "ipchanged process check doesn't trigger sensu-client restart"
Not sure why this check can't be added to the item loop above it for the other neutron checks. That would solve this problem and reduce content in the task file.

[2014-11-15 16:33] masteinhauser opened #615 "ansible-lint complaints"
I ran [`ansible-lint`](https://github.com/willthames/ansible-lint) against `site.yml` once I made an [upstream fix](https://github.com/willthames/ansible-lint/pull/32).

Most of the complaints will be fixed with packaging and no more `git checkouts`.
The 'Old Style Brackets' check is failing on a bit of `shell` code we execute for swap disable.
I have created #614 to fix the service module complai

[2014-11-17 14:45] #599 closed, assigned to omgjlk

[2014-11-17 14:46] #595 closed, assigned to omgjlk

[2014-11-21 02:19] paulczar opened #625 "cannot install ursula-lint from requirements.txt"
[code]

[2014-11-21 16:00] #625 closed, assigned to nobody

[2014-12-02 16:12] paulczar opened #642 "magic proxy box ?"
after the rubygems issues with the dnssimple ddos yesterday I've been thinking about ways to reduce our reliance on the outside world.   One quick and easy way is to implement a squid proxy that is preseeded with data.

Here is what I've tested, first we set up a squid docker container:

[code]

Then we just need to set the `http_proxy` variable to point to squid on that host e.g. `export http_pro

[2014-12-02 18:34] #603 closed, assigned to nobody

[2015-01-27 15:57] paulczar opened #766 "break out sensu modules into own repo"
rather than looping through the files with a File.glob thingy I think it might be useful to put the sensu modules into their own git repo and then use the git module in ansible to clone it during the run.

[2015-03-02 11:55] frutik opened #846 "ffi.h file not found when trying to install on macosx"
I've resolved the issue using instructions there http://stackoverflow.com/questions/22875270/error-installing-bcrypt-with-pip-on-os-x-cant-find-ffi-h-libffi-is-installed

[2015-03-04 22:59] masteinhauser commented on #766
:+1: We have the same thing for the old Nagios alerts. BPW can help take over and do this process as we'll be ~~stealing~~ using many of the alerts too.

[2015-03-04 23:01] sbalukoff commented on #766
+1 Let's please break out the sense modules!

[2015-07-20 10:36] openstacks opened #1074 "No package matching 'openstack-keystone-10.0-bbc72' is available during deploying openstack"
Ansible version: ansible 1.9.2-bbg

Issue:

 Failed to add any dependent repositories during deploying openstack

There is no this file on server
 https://packagecloud.io/blueboxcloud/giftwrap/ubuntu/dists/precise/main/binary-i386/Packages

log:
 TASK: [apt-repos | add any dependent repository key packages] *****************
Monday 20 July 2015  05:24:43 -0500 (0:00:01.422)       0:01:34.211 *****

[2015-07-20 10:37] openstacks commented on #1074
Here is command what i run:

#ursula envs/example/allinone site.yml --ursula-debug

[2015-07-20 13:06] openstacks commented on #1074
TASK: [apt-repos | add any dependent repositories] ****************************
Monday 20 July 2015  08:02:28 -0500 (0:00:00.399)       0:01:33.189 ***********
ok: [10.110.8.133] => (item={'repo': u'deb https://packagecloud.io/blueboxcloud/giftwrap/ubuntu/ precise main', 'key_url': u'https://packagecloud.io/gpg.key'})

TASK: [openstack-package | install keystone package] **************************

[2015-07-20 13:07] openstacks commented on #1074
Failed to msg: No package matching 'openstack-keystone-10.0-bbc72' is available

[2015-07-20 13:50] openstacks opened #1075 "Fail to install lm-sensors package"
#ursula envs/example/allinone site.yml --ursula-debug

TASK: [common | install lm-sensors package] ***********************************
Monday 20 July 2015  13:46:40 +0000 (0:00:00.152)       0:00:19.887 ***********
failed: [10.110.8.172] => {"failed": true}
msg: Could not fetch updated apt files

FATAL: all hosts have already failed -- aborting

PLAY RECAP *****************************************

[2015-07-20 13:51] openstacks commented on #1075
root@hkg02kvm002ccz023:/cloud/ursula# apt-cache show lm-sensors
Package: lm-sensors
Priority: extra
Section: universe/utils
Installed-Size: 401
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Original-Maintainer: Aurelien Jarno <aurel32@debian.org>
Architecture: amd64
Version: 1:3.3.1-2ubuntu1
Depends: sed (>= 4.0.5-1), lsb-base (>= 3.2-13), libc6 (>= 2.3.4), libsensors4 (>=

[2015-07-20 14:41] openstacks commented on #1074
#apt-get update

Ign http://packages.erlang-solutions.com precise/contrib Translation-en
W: Failed to fetch https://packagecloud.io/blueboxcloud/giftwrap/ubuntu/dists/precise/main/source/Sources  Problem
with the SSL CA cert (path? access rights?)

W: Failed to fetch https://packagecloud.io/blueboxcloud/giftwrap/ubuntu/dists/precise/main/binary-amd64/Packages  Problem with the SSL CA cert (path? a

[2015-07-20 15:59] paulczar commented on #1074
this could be an intermittent network issue to your host,  or somehow a messed up ca certs on your host.

are you able to do a `curl -sSL https://packagecloud.io/blueboxcloud/giftwrap?filter=debs` from that same host ?

you may want to try to run `update-ca-certificates` to rebuild your certs files.

[2015-07-20 16:00] paulczar commented on #1075
this looks related to your other bug.  if `apt-get update` cannot run I would expect to see issues like this pop up.

[2015-07-21 01:43] openstacks commented on #1074
I can run this command on my host
root@hkg02kvm002ccz023:~# curl -sSL https://packagecloud.io/blueboxcloud/giftwrap?filter=debs

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
<script type="text/javascript">window.NREUM||(NREUM={});NREUM.info={"beacon":"bam.nr-data.net","errorBeacon":"bam.nr-data.net","license

[2015-07-21 03:27] openstacks commented on #1074
The issue is still there after i run update-ca-certificates command

the following command can be executed successfully on my host
curl -sSL https://packagecloud.io/blueboxcloud/giftwrap?filter=debs from that same host ?

is this repo url correct? It return 404 when i access it on IE
https://packagecloud.io/blueboxcloud/giftwrap/ubuntu/dists/precise/main/binary-amd64/Packages
https://packagecloud.

[2015-07-21 05:16] openstacks commented on #1074
I manually installed openstack package following this guide , but it failed either. (https://packagecloud.io/blueboxcloud/giftwrap/packages/ubuntu/precise/openstack-cinder-11.0-bbc73_11.0-bbc73_amd64.deb)

######################################################
Guide:
openstack-cinder-11.0-bbc73_11.0-bbc73_amd64.deb
Install this Package

#############################################################

[2015-07-21 06:58] openstacks opened #1077 "packagecloud repo doesn't work"
Fail to install package after packagecloud repo is installed.
Here are test steps
1; install a packagecloud repo following steps in this link
    https://packagecloud.io/blueboxcloud/giftwrap/install
   1.1: quick install
      curl -s https://packagecloud.io/install/repositories/blueboxcloud/giftwrap/script.deb.sh | sudo
         bash
      root@# curl -s https://packagecloud.io/install/repositor

[2015-07-22 09:54] openstacks opened #1078 "Fail to install keystone package on ubuntu14.04"
It fails to install keystone and throw this error:

E: Failed to fetch https://packagecloud.io/blueboxcloud/giftwrap/ubuntu/pool/trusty/main/o/openstack-keystone-10.0-bbc72/openstack-keystone-10.0-bbc72_10.0-bbc72_amd64.deb

But i can download this file through wget tool

############################################################
Log:

TASK: [openstack-package | install keystone package] *******

[2015-07-29 21:18] pbannister opened #1093 "os_subnet is not a legal parameter in an Ansible task or handler"
Checked out current "master" (a311437a1ce91c8e710b34783b35aeacf452294a). Followed the instructions to bring up "allinone". (I have done this successfully before, with an older version.) Got an error:

[code]

The commit that *seems* to have caused the problem is:

https://github.com/blueboxgroup/ursula/blob/3e30ff769848a5bec18ad449b2383c8dec8da908/roles/openstack-setup/tasks/networks.yml

[2015-07-29 21:20] j2sol commented on #1093
So you'll get this if the ansible you're calling doesn't have the modules installed. Master requires a Blue Box fork of Ansible that pulls in a fork of ansible-modules-core that backports a number of the new Open Stack modules (os_*). If you install the requirements in requirements.txt you should get this version of Ansible and modules.

[2015-07-29 21:27] pbannister commented on #1093
Did pull in the requirements, but missed an error? Digging...

(ursula)hermes:ursula preston$ pip install -U -r requirements.txt
Requirement already up-to-date: python-novaclient in
/Users/preston/.virtualenvs/ursula/lib/python2.7/site-packages (from
-r requirements.txt (line 1))
Requirement already up-to-date: python-neutronclient in
/Users/preston/.virtualenvs/ursula/lib/python2.7/site-packages

[2015-07-29 21:28] j2sol commented on #1093
Looks like the bit that tries to initialize the submodules (where ansible-modules-core and extras) comes from is failing on your system for some reason.

[2015-07-29 21:41] pbannister commented on #1093
The requirements item that fails:

[code]

[2015-07-29 21:49] pbannister commented on #1093
Perhaps you did not (yet) push a submodule (the one containing d9102b8cb4b0025444449a5ca9e9a928e45f6c38)?

http://stackoverflow.com/a/2161389/184534

[2015-07-29 22:06] j2sol commented on #1093
I don't think that's the case. I've tested in brand new virtualenvs and they're able to get everything installed.

[2015-07-29 22:33] pbannister commented on #1093
Dug down a bit. Cannot say I am fluent with the git submodule, but this looks like a clue...

Cloned bluebox/ansible and checked out "devel". (OK)
[code]

Checked out the "stable-1.9-bb" branch, and *attempted* to update the submodules. (Note the last line.)
[code]

Dropped into "lib/ansible/modules/core" and indeed d9102b8cb4b0025444449a5ca9e9a928e45f6c38 does not appear in 'git log'. Given this

[2015-07-30 01:18] pbannister commented on #1093
Apparently `git submodule` support does not handle changing the URL to a submodule.
Or at least not well.

Found that the `git submodule update` does badly when the parent changes the submodule URL. The URL in the submodule does *not* get updated.

(Perhaps there is a workaround for this in *pip*? I have pip 1.5.6 installed.)

First, wrote a script to do a repeatable clean install of *ursula*, and

[2015-07-30 01:43] pbannister commented on #1093
... and that did it. Updating `pip` in the virtualenv from 1.5.6 to 7.1.0 (the current), and can bring up `allinone` w/o trouble. Apparently the later version of `pip` has a workaround for the `git submodule update` behavior.

The updated script, for reference.
[code]

(Can you add a `pip` version to `requirements.txt` in any meaningful way?)

[2015-07-30 03:36] pbannister commented on #1093
FWIW, you can close this if you want. Might want to document the dependency on a later(?) version of `pip`, and mention the `git submodule` trouble. Not sure if this is something that `requirements.txt` can handle.

[2015-07-30 03:49] j2sol commented on #1093
Thanks for digging through it. I'll update the readme.

- jlk

On Wed, Jul 29, 2015 at 8:36 PM, Preston L. Bannister <
notifications@github.com> wrote:

[2015-07-30 03:50] pbannister opened #1099 "Repeated stacktraces in nova-novncproxy.log"
The log file `/var/log/nova/novncproxy.log` is full of stack traces, on two(?) second intervals.

For example:

[code]

I got to this point by pulling down the current `ursula` and bringing up an `allinone` instance. Running `tail -f /var/log/nova/*.log` is mostly dominated by these stack traces.

Flat admission: I have no notion if this is an OpenStack/Juno problem, a Ursula configuration problem

[2015-08-10 16:12] ryshah opened #1127 "Swift disk partition creation fails for disks larger than 2TB"
Encountered following when partitioning 4TB disk:

Error: partition length of 7812937728 sectors exceeds the msdos-partition-table-imposed maximum of 4294967295

[2015-08-10 20:56] ryshah opened #1130 "Memcache is configured locally on each Swift node"
All the nodes in the cluster need to be part of memcache. Current configuration files are set to 127.0.0.1:11211 causing local memcache server for each node.

[2015-08-21 19:43] ryshah commented on #1130
The issue is fixed with #1131

[2015-08-21 19:43] #1130 closed

[2015-08-21 19:43] ryshah commented on #1127
Issue fixed with merge of #1128

[2015-08-21 19:43] #1127 closed

[2015-08-27 16:17] ryshah opened #1154 "Swift deployment fails when install method is source"
restart swift handlers are not defined for Swift causing swift setup task to fail. Looking in to that to get it working.

[2015-08-27 16:54] j2sol commented on #1154
Can you give some more details?

[2015-08-27 17:53] ryshah commented on #1154
restart swift service handlers are not defined for Swift causing swift setup task to fail. Looking in to that to get it working.

[2015-08-27 23:36] j2sol commented on #1154
Each swift sub-role (such as swift-account, swift-container, swift-object, and swift-proxy) all have their own handlers defined for restarting those specific swift services. Please tell me which of the handlers you're seeing get called that isn't defined.

[2015-08-28 11:38] akankshajain opened #1157 "Swift API doesn't work"
Swift installation is successful. I had to create swift : service,user,endpoint urls in keystone database manually. Here are the endpoint URLs I have created.
+-------------+-------------------------------------------------+
|   Property  |                      Value                      |
+-------------+-------------------------------------------------+
|   adminurl  | https://swift.example.org:8

[2015-08-28 15:48] ryshah commented on #1154
@j2sol When trying out source install it failed 1st time (worked fine on 2nd try) when trying to notify task "restart swift services"... I am working on change to add that task and also one minor change to get Swift source deploy working

[2015-08-28 15:54] ryshah commented on #1157
@akankshajain If you are using self-signed certificate which is most likely the case, you will need to add insecure = true flag in /etc/swift/proxy-server.conf and restart proxy server "swift-init restart all". After that swift --insecure stat command should work.

I believe @j2sol had looked in to insecure flag for one of his keystone pull request and can provide more guidance.

Regarding creatin

[2015-08-28 15:56] j2sol commented on #1157
Ursula's swift deployment expects swift end points to be running their own front end, with their own FQDN, which would mean their own SSL cert as well. And yes, if using self signed certs, you either need to have the CA imported into your ssl stack, or use the insecure flag.

[2015-08-30 19:21] allomov opened #1166 "Wheels from requirements.txt depend on libssl-dev"
Hey, all.

When I followed instructions from README and try to run `pip install -r requirements.txt` on clean Ubuntu, I had problems with installation of some wheels, the stacktrace is (here)[https://gist.github.com/allomov-altoros/a5e4a0f96a1e4a81c93c].

The problem was that I missed `libssl-dev` library, I think that this dependence could be added to list of system depencies in REAME (here)[http

[2015-08-31 04:43] akankshajain commented on #1157
Thanks for the pointer @ryshah and @j2sol . This worked and I was able to resolve the certificate error but now when I hit the swift stat command I get "Account HEAD failed: https://swift.example.org:8090/v2/060a734844194497a23b02d2a24c7edd 401 Unauthorized".

I have created a user named "swift" with password "asdf" and provided it admin role. Here is my identity section in proxy-server.conf

[fil

[2015-08-31 18:34] nirajdp76 opened #1167 "create volume from a existing glance image failing with cannot connect to glance"
cinder create --image-id c1bc8abb-e13c-46a6-9ff3-21c7d7b74397 --display-name ndpvol1 1

Note: below logs are from converge blueblox environment that has standard openstack ports as ha_proxy ports

oot@qint-lon02-c2:~# tail -f /var/log/cinder/cinder-api.log | grep -i error
2015-08-31 17:36:29.999 8322 ERROR cinder.image.glance [req-65a7a235-b0d7-4b11-bf91-6af5d129ff85 d6531889acdf4008a8fe7494ed418f

[2015-08-31 18:46] nirajdp76 commented on #1167
cancelling this issue as it will not impact current master where standard openstack ports are used as backend ports. Will address this issue part of Ports standardization PR.

[2015-08-31 18:46] #1167 closed

[2015-08-31 20:15] fbarilla opened #1168 "Default credentials to connect to Horizon dashboard"
We just deployed OpenStack using Ursula (using Vagrant). What are the credentials to connect to the Horizon dashboard ?

[2015-08-31 20:20] twaldrop commented on #1168
You should find the credentials on each of the hypervisors in hosts in /root/stackrc

[2015-09-01 13:56] fbarilla commented on #1168
Thanks for the info. We are able to get access to the BlueBox dashboard but when we enter the credentials we got a 'Connection Reset'. When we enter a wrong password, we have the expected error message 'Invalid userid/password'. Any idea ?

[2015-09-01 16:47] ryshah commented on #1157
@akankshajain What is the output from swift --debug stat command? Also your stackrc/openrc sets up environment correctly I assume

[2015-09-01 21:02] ryshah opened #1172 "Formpost not enabled in Swift"
Even though filter is present in proxy conf file it needs to be added to pipeline

[2015-09-01 23:19] ryshah commented on #1172
Fixed by PR #1173

[2015-09-01 23:19] #1172 closed

[2015-09-02 04:57] akankshajain commented on #1157
@ryshah Here is my stackrc file content
export OS_PASSWORD=ghij
export OS_AUTH_URL=https://openstack.example.org:5001/v2.0
export OS_USERNAME=provider_admin
export OS_TENANT_NAME=admin
export OS_CACERT=/opt/stack/ssl/openstack.crt
export OS_NO_CACHE=True
export OS_VOLUME_API_VERSION=2

Here is my --debug output

DEBUG:requests.packages.urllib3.connectionpool:"POST /v2.0/tokens HTTP/1.1" 200 4168
D

[2015-09-02 05:11] akankshajain commented on #1157
I have not changed any configuration files / openrc files after installation.

[2015-09-02 05:22] akankshajain commented on #1157
I tries changing my stackrc to

export OS_PASSWORD=asdf
export OS_AUTH_URL=https://openstack.example.org:5001/v2.0
export OS_USERNAME=swift
export OS_TENANT_NAME=service
export OS_NO_CACHE=True
export OS_VOLUME_API_VERSION=2

Got similar error
DEBUG:requests.packages.urllib3.connectionpool:"POST /v2.0/tokens HTTP/1.1" 200 4096
DEBUG:iso8601.iso8601:Parsed 2015-09-03T05:21:32Z into {'tz_sign': None

[2015-09-03 18:35] ryshah commented on #1157
@akankshajain Try adding "cafile= <path to your crt>" parameter in [filter:authtoken] section in /etc/swift/proxy-server.conf and restart the service.

I was able to recreate the issue you are having when my conf didn't have cafile set

[2015-09-04 06:05] akankshajain commented on #1157
@ryshah I pulled out the latest code from master branch and installed swift topology again. This time swift entities were created automatically in the database.

My [filter:authtoken] section in /etc/swift/proxy-server.conf looks like this now

paste.filter_factory = keystonemiddleware.auth_token:filter_factory
identity_uri = https://openstack.example.org:35358/
auth_uri = https://openstack.exampl

[2015-09-04 15:25] ryshah commented on #1157
Hmmm... Curious if you checked whether /opt/stack/ssl/openstack.crt and  /usr/local/share/ca-certificates/openstack.example.org.crt are same?

[2015-09-04 18:08] akankshajain commented on #1157
Exactly the same on both controller as well as swift node. But I am using --insecure while running swift commands.

I have not edited ursula/envs/example/swift/group_vars/all.yml
I can see section

# NOTE: The following private key is *not safe* you should replace
# this with your own private key distribution mechanism. Here for
# demonstration purposes only!

Is this creating issue?

[2015-09-08 10:38] akankshajain commented on #1157
Hi @ryshah / @j2sol  ,

Any pointers for fixing this issue?

[2015-09-09 15:07] ryshah commented on #1157
@akankshajain I will try to bootstrap swift env today from master to see if i can recreate the issue and provide you with list of things I had to do to get it work...

[2015-09-09 15:21] ryshah commented on #1154
Should be fixed with #1171

[2015-09-09 15:21] #1154 closed

[2015-09-09 16:41] akankshajain commented on #1157
@ryshah : Thanks.
Just lisitng down the steps to help you reproduce the defect
- installed swift topology
- On swift node1:
         Editted /etc/swift/proxy-server.conf to add "insecure = true" as last line in [filter:authtoken]section.
Restart swift proxy service using cmd - swift-init restart all
- Login to controller node
- source /root/stackrc
- executed "swift --debug --insecure stat"

[2015-09-09 18:00] ryshah commented on #1157
@akankshajain I setup 2 node Swift cluster with one node as controller and other node as Swift node. I started all the services on Swift after deploy was complete. Executing "swift --insecure stat" worked fine for me (without making change to /etc/swift/proxy-server.conf). I added insecure = true to the conf file. And Swift worked fine with that as well.

I got the latest ursula from master and ha

[2015-09-10 06:32] akankshajain commented on #1157
@ryshah : This is so strange. I again pulled the latest code from master branch today and built a swift setup.

Started all swift services on swiftnode1 using "swift-init all start"
and ran "swift --insecure stat" on controller node. Got 401 unauthorized error again :(

Could you please tell me what do you mean by OS reload? What are the steps for that? Do you think that could be the issue?

Does

[2015-09-11 02:28] ryshah commented on #1157
@akankshajain I was bootstrapping bare metal nodes and not vagrant. I was able to recreate 401 in vagrant. You just need to add "insecure = false" in proxy-server.conf and restart the server

[2015-09-11 07:24] akankshajain commented on #1157
@ryshah Is there any way I can get things working on vagrant?

adding "insecure = false" in proxy-server.conf and then restarting swift services did not work on vagrant setup atleast. Is this step required for the bare metal setup?

[2015-09-11 12:46] ryshah commented on #1157
@akankshajain Sorry I had typo .. It should be "insecure = true" in proxy-server.conf
For bare metal setup it is required unless you commercial certificate or import self-signed in your CA like @j2sol mentioned

[2015-09-11 12:50] akankshajain commented on #1157
@ryshah : Thanks for clearing out.
So there is no way we can get this working on vagrant?

[2015-09-11 14:28] ryshah commented on #1157
@akankshajain No it should work in vagrant....I deployed vagrant yesterday saw 401 unauthorized issue.... Added insecure=true flag and that started working... If that still doesn't work for you, can you add contents of /var/log/haproxy.log?

[2015-09-11 14:40] j2sol commented on #1157
@akankshajain Make sure you have insecure=true BOTH in your stackrc file /and/ in the swift-proxy config file, within the authtoken section.

[2015-09-11 15:02] akankshajain commented on #1157
@ryshah , @j2sol

I added insecure=true in proxy conf file
[filter:authtoken]
paste.filter_factory = keystonemiddleware.auth_token:filter_factory
identity_uri = https://openstack.example.org:35358/
auth_uri = https://openstack.example.org:5001/
admin_password = asdf
admin_tenant_name = service
admin_user = swift
cache = swift.cache
include_service_catalog = False
delay_auth_decision = true
cafile

[2015-09-17 19:38] ryshah opened #1205 "Eventlet version 0.15.2 doesn't work with Swift kilo source install"
With Kilo release, Swift has updated the version of eventlet library to >= 0.16.1 (& != 0.17.0)... This causes Swift services to not start with version conflict error.. Note: Version 0.15.2 in Ursula is deployed for Nova

[2015-09-17 20:08] j2sol commented on #1205
When doing source installs, everything is mixed together, but with packages every project gets its own virtualenv.

Our pin for nova's eventlet is most likely based on old versions of Nova, so I would say remove the pinning and see if everything sorts itself out.

[2015-09-18 16:26] ryshah commented on #1205
Sounds good @j2sol .. we are deploying environment with eventlet unpinned... Will create 1-line PR to unpin eventlent if the change causes no trouble

[2015-09-29 19:38] ryshah opened #1231 "Memcache is incorrectly configured on Swift nodes"
The configuration file that comes with memcached, binds 127.0.0.1 address to 11211. This causes the issue when network memcached is configured

[2015-09-30 21:29] ryshah commented on #1231
Fix was merged

[2015-09-30 21:29] #1231 closed

[2015-10-02 21:15] ryshah commented on #1205
@j2sol Removed the pinning for latest source install and things work fine. Should I create PR with unpinned source? I heard rumbling about each project will have virtualenv with source as well... Would that change anything?

[2015-10-02 21:56] j2sol commented on #1205
Please do the PR. In the case of source venvs it'll just mean that they aren't pinned within the venv either.

[2015-10-05 15:23] ryshah commented on #1205
@j2sol Created PR #1241 for the changes. Please review

[2015-10-08 15:11] ryshah commented on #1205
PR #1241 is merged

[2015-10-08 15:11] #1205 closed

[2015-10-10 01:03] CullenTaylor opened #1256 "[MongoDB] create admin user fails when ucarp resides on controller2 during initial deployment"
During initial deployment, when controller2 is where ucarp is create admin user fails as it is assuming controller1 is always master db. The ansible error is detailed below. Ddaskal should be able to debug and elaborate further.

[code]

[2015-10-11 01:47] ddaskal commented on #1256
Opened PR#1261 to resolve this issue - https://github.com/blueboxgroup/ursula/pull/1261

[2015-10-11 19:48] ddaskal commented on #1256
PR fix merged. Please close this issue

[2015-10-12 00:06] #1256 closed

[2015-10-23 22:15] j2sol commented on #1168
No ideas. This are working okay on the master branch.

[2015-10-23 22:15] #1168 closed

[2015-10-23 22:16] j2sol commented on #1166
Sure that could be added there. Please open a PR against the readme and we'll get it in.

[2015-10-23 22:17] j2sol commented on #1157
Is this still an issue?

[2015-10-23 22:17] j2sol commented on #1099
Is this still happening? We're now on kilo.

[2015-10-23 22:18] #1093 closed

[2015-10-23 22:19] j2sol commented on #1078
We've updated the packages and this should be resolved.

[2015-10-23 22:19] #1078 closed

[2015-10-23 22:19] j2sol commented on #1077
This repo is no longer in use.

[2015-10-23 22:19] #1077 closed

[2015-10-23 22:19] #1075 closed

[2015-10-23 22:40] j2sol commented on #1074
We've changed the repos and the versions. This should no longer be an issue.

[2015-10-23 22:40] #1074 closed

[2015-10-23 22:42] j2sol commented on #846
Worth updating the README for.

[2015-10-23 22:43] j2sol commented on #766
This was done.

[2015-10-23 22:43] #766 closed

[2015-10-23 22:43] j2sol commented on #642
We now have a magic proxy box.

[2015-10-23 22:43] #642 closed

[2015-10-23 22:57] j2sol commented on #615
So, we changed a ton. How do we look now?

[2015-10-24 00:04] pbannister commented on #1099
Ursula is on Kilo? Good news, and timely. Will check... (might take a bit).

[2015-10-26 11:08] akankshajain commented on #1157
We can close this issue. Thanks for all the pointers!

Thanks and Regards,
Akanksha

From: Jesse Keating [mailto:notifications@github.com]
Sent: Saturday, October 24, 2015 3:47 AM
To: blueboxgroup/ursula
Cc: Akanksha Jain
Subject: Re: [ursula] Swift API doesn't work (#1157)

Is this still an issue?

—
Reply to this email directly or view it on GitHub<https://github.com/blueboxgroup/ursula/issues/1

[2015-10-27 18:47] #1157 closed

[2015-10-28 19:31] rlrossiter opened #1318 "Can't verify Blue Box apt mirrors"
Here's the ansible trace when attempting to run an allinone with Ursula:

[code]

The task fails to validate the SSL certificates for the blue box apt mirrors. If I wget anything from the mirror, it succeeds. I tried copying the certificate from the mirror into /etc/ssl/certs, but the error still occurred.

I noticed the last repo succeeds, but that is because validate_certs is False.

[2015-11-01 01:11] epwn commented on #1318
did you install libssl-dev before running?

[2015-11-02 14:48] rlrossiter commented on #1318
@epwn yep, libssl-dev is installed. I just singled out the second repo to test it out. Doing a curl to the repo doesn't have any sort of SSL errors, I can connect to it just fine. So it's only the playbook/ansible that is having problems with this site.

[2015-11-02 16:28] epwn commented on #1318
I just re-ran my allinone this morning and didnt hit the issue you are having. So its not reproducible, at least not on my end. I guess you could try (although it wouldnt be best practice) to set validate_certs to false on those two repos and see what happens?

[2015-11-03 00:23] j2sol opened #1328 "Horizon logs are not forwarded to logstash"
The logs are winding up in /var/log/apache2/ but do not get into logstash. This prevents being able to easily diagnose issues with Horizon.

[2015-11-03 02:44] epwn commented on #1328
ill make this noted at scrum if it doesnt come up before then. thanks @j2sol

[2015-11-03 14:25] rlrossiter commented on #1318
When we set validate_certs to False things worked fine. After looking at https://github.com/ansible/ansible/blob/devel/lib/ansible/module_utils/urls.py#L569, Python 2.7.10 was tried, and that got through without SSL errors. Does there need to be something in the readme to put a requirement on python >= 2.7.9?

[2015-11-03 16:49] davidcusatis commented on #1328
https://github.com/blueboxgroup/ursula/pull/1330

[2015-11-04 00:53] rafaelfolco opened #1333 "glance cannot retrieve image"
Just deployed all-in-one manual setup.
ISSUE: Cannot start instances due to glanceclient issue: glance image-list works, but image-show fails.

root@bluebox-allinone:~# glance --debug image-show 6e1f67e7-90e8-4fd3-a5d5-e8225f3ea929
curl -g -i -X HEAD -H 'Accept-Encoding: gzip, deflate' -H 'Accept: */*' -H 'User-Agent: python-glanceclient' -H 'Connection: keep-alive' -H 'X-Auth-Token: {SHA1}87fae7c

[2015-11-04 00:58] j2sol commented on #1333
This is an issue with python-glanceclient and urllib3 (as delivered by the requests library). Downgrade your requests to 2.7.0 where you are running glance client and this should clear up.

[2015-11-04 20:45] davidcusatis opened #1335 "logrotate module unable to add scripts"
https://github.com/blueboxgroup/ursula/blob/master/library/logrotate.py

there is currently no way to add a script for postrotate and prerotate. the module only supports options. a use case would be something like the following:

[code]

[2015-11-04 20:51] retr0h commented on #1335
You should be able to do it with my more recent [changes](https://github.com/retr0h/ansible-logrotate/blob/master/vagrant/site.yml#L8).

I wish upstream ansible wanted this, but they felt it was not relevant for upstream.

[2015-11-04 20:55] davidcusatis commented on #1335
ah i see, you just include the script in the options. agree on the fugly but i suppose that works, and i can close out the defect.

[2015-11-04 20:55] retr0h commented on #1335
so

[code]

[2015-11-04 21:23] davidcusatis commented on #1335
cool thanks for the help

[2015-11-06 00:35] #1335 closed

[2015-11-06 00:35] #1333 closed

[2015-11-06 00:37] #1328 closed

[2015-11-06 00:47] j2sol opened #1343 "Enable rabbit heart beat and timeout in openstack services"
With Kilo, oslo.messaging grew the ability to heartbeat to rabbit (enabled by default) and to have a timeout client side to reset connection (not enabled by default). We should enable the timeout to a reasonable time, like say 30 seconds.

This is typically done in a service config file under the header
`[oslo_messaging_rabbit]`

with the setting
[code]

however check the config reference in each

[2015-11-06 01:00] j2sol opened #1344 "State common cinder-volume hostname for ceph backends"
When doing ceph backends we should set the same host value across all of the cinder-volume hosts. This will keep the database from having any host specific entry for a volume given that ceph is across all hosts.

This can be configured with the `backend_host` option, as referenced http://docs.openstack.org/kilo/config-reference/content/cinder-conf-changes-kilo.html

It looks like it could be done

[2015-11-06 01:06] j2sol opened #1345 "Cloud tuning"
Operators collaborated on some tuning tips, https://etherpad.openstack.org/p/OpenStack_Tuning_Guide We should look through them for things relevant to our deployments.

[2015-11-06 01:07] j2sol commented on #1345
See also http://lists.openstack.org/pipermail/openstack-operators/2015-October/008557.html
and http://lists.openstack.org/pipermail/openstack-dev/2015-October/078028.html

[2015-11-06 02:21] rafaelfolco commented on #1333
For the record: The downgrade fixed the problem, but I had other issues related to oslo.config, which can be reported in a separate issue. I see errors on nova-api logs:

TRACE nova File "/usr/local/lib/python2.7/dist-packages/keystonemiddleware/openstack/common/memorycache.py", line 21, in <module>
2015-11-04 17:42:20.397 11473 TRACE nova from oslo.config import cfg
2015-11-04 17:42:20.397 11473

[2015-11-06 15:08] wadeholler opened #1348 "'./bin/run_vagrant up standard' faults due to BOXES grep catching comments"
'./bin/run_vagrant up standard' faults due to BOXES grep catching comments

original line
BOXES=$(grep -v -e '\[' -e ^# envs/example/${TYPE}/hosts | sort | uniq)

suggested fix
BOXES=$(grep -v -e '\[' -e '#' -e '^$' envs/example/${TYPE}/hosts | sort -u)

cheers,
Wade Holler

[2015-11-06 16:06] ryshah opened #1349 "Swift does not work as Glance store"
When trying to use Swift as Glance store, HTTP 400 Bad request error is returned

[2015-11-06 17:40] wadeholler commented on #1348
closed  / na - per #1352

[2015-11-06 17:40] #1348 closed

[2015-11-06 19:07] ryshah commented on #1349
Fixed by #1350

[2015-11-06 19:07] #1349 closed

[2015-11-08 08:46] agireud commented on #1343
Looks promising, I can get started taking a look at this.
This should help with migrations.

[2015-11-09 17:57] mmedvede commented on #1093
Update to requirements (e.g. adding 'pip>=7.0) would not help, because when you run pip install -r it would still use the old pip binary. Running 'mkvirtualenv ursula && pip install pip -U' works fine. I do not think README was updated.

[2015-11-10 19:21] nealbrown opened #1365 "remove all reference to heat-cfn"
cfn deprecated

determine which if any config options can be dropped

[code]

[2015-11-11 17:01] rafaelfolco commented on #1333
For the record(2): fresh deploy with requests==2.7 worked fine. The issue above is probably a side effect of requests issue, fixed downgrading to 2.7 before running ursula allinone.

[2015-11-12 00:14] j2sol opened #1372 "Use catalog for swift endpoint, rely on /etc/hosts to direct to internal haproxy VIP"
For services that use swift, such as cinder and glance, the config of these services should rely upon the catalog to provide a URL to reach the swift endpoint. However due to wanting to avoid having traffic hit any upstream routers, an entry in /etc/hosts for the swift FQDN should resolve to the haproxy internal VIP, or whatever it is we have for swift.

End goal should be NO ip addresses in confi

[2015-11-17 15:17] wadeholler opened #1393 "vagrant standard|allinone deployment fails @ update pip"
vagrant standard|allinone deployment fails @ update pip
'openstack' variable is not defined

--defaults.yml not getting joined / pulled in

ursula-cli pull request #23 removed the defaults.yml default var addition.
However existing urusul ansible.cfg does not contain something like :
var_defaults_file = envs/example/defaults.yml

Related :
ursula pull request #1389 has this changing to defaults-2.

[2015-11-19 22:25] nealbrown opened #1405 "remove - name: kernel-options and - name: network interface traffic metrics check from common/monitoring.yml"
remove from ursula-monitoring only when fully deprecated

[2015-11-19 22:51] #1405 closed

[2015-11-20 04:08] epwn commented on #1345
after 2.0, id like to look into what we can regards with the os level. the sysctl.conf changes caught my eye. might be worth testing it out

[2015-11-20 14:22] sebrandon1 commented on #1093
I'm receiving this error now as well.  "ERROR: os_subnet is not a legal parameter in an Ansible task or handler".

I've followed the README exactly and I'm still getting the error.

[2015-11-20 16:16] j2sol commented on #1093
Usually the root cause of this is the virtualenv construction to run
ursula, et al, in. You need to have a decently recent version of
vritualenv, or you need to be sure to upgrade pip inside the virtualenv
before installing the rest. You also need to pass whatever appropriate
option there is to not use wheels. With all of that, installing ursula's
requirements should result in a functional ansible

[2015-11-22 22:40] lihkin213 opened #1410 "Keystone paste config for the unauthorizedlogger filter is incorrect"
Keystone paste config for the unauthorizedlogger filter is incorrect. The code expects memchace_hosts and the paste config sets it to memcache_servers. This causes the initialization of the filter to fail and keystone service does not start

[2015-12-02 00:53] j2sol commented on #1410
I believe this is fixed.

[2015-12-02 00:53] #1410 closed

[2015-12-02 00:58] j2sol opened #1430 "Do not monitor glance-store when storing images in swift/ceph"
When storing glance images in ceph or swift they will never hit the filesystem, and thus always fail. We'll need to use the "smart" logic like we do in glance-api.conf ( https://github.com/blueboxgroup/ursula/blob/master/roles/glance/templates/etc/glance/glance-api.conf#L33 )

[2015-12-02 17:27] nealbrown opened #1432 "add CVE-2015-0860 to security errata"
Flagged by Nessus

dpkg

ensure >= 1.17.5ubuntu5.5

[2015-12-02 18:35] j2sol opened #1433 "Ensure logstash can read all logs"
We've found one issue where Logstash was not able to read the ceph logs. We need to investigate to see if there are other such defects happening.

[2015-12-02 18:46] sandfish8 opened #1434 "/etc/ipchanged directory is incorrect when both the pnode network and Api network are on tagged interfaces"
Seeing this in the Local deploys:

Issue Summary: the ipchanged directory doesn't match the vlan interfaces.
The ipchanged event will never fire because the the add script is on the external IP that is associated with the wrong interface.

Seeing this on a controller:

:/etc/ipchanged$ tree
.
└── bond0.102
    ├── 10.254.37.11
    └── REDACTED_PUBLIC_IP
        └── add

Looking /etc/network/interf

[2015-12-02 20:41] j2sol opened #1435 "Do not monitor l3-router placement when external network type is not local"
When the network type is not local, it doesn't matter where the agents run, they'll work on either controller.

[2015-12-02 20:47] j2sol commented on #1435
Should be able to check whether the "external" network is of type "local" or not to drive whether this check gets applied.

[2015-12-02 22:43] #1430 closed

[2015-12-03 16:13] epwn opened #1437 "Swift motd step fails deploying from source"
Because of the changes in PR 1428, swift will fail when appending to the motd file. Workaround is to change destination from /etc/motd.tail to /etc/ursula-release

[2015-12-03 16:14] j2sol commented on #1437
Good catch. Are you preparing a PR for this?

[2015-12-03 16:33] epwn commented on #1437
yep, should be up once @CullenTaylor confirms.

[2015-12-03 16:43] nealbrown commented on #1432
ii  dpkg                                1.17.5ubuntu5.5                       amd64        Debian package management system

showing proper ver in vagrant allinone

[2015-12-03 16:48] #1432 closed

[2015-12-03 17:47] CullenTaylor commented on #1437
@epwn :thumbsup: good to make the PR.

[2015-12-04 22:41] j2sol commented on #1437
This was fixed.

[2015-12-04 22:41] #1437 closed

[2015-12-04 23:51] epwn commented on #1437
Refer to fix: https://github.com/blueboxgroup/ursula/pull/1440 for future reference

[2015-12-05 00:16] ulyssesbbg opened #1444 "Running ursula with --check can lead to error check mode not supported for shell"
Running ursula with --check can lead to error check mode not supported for shell.

Ref:

[code]

[2015-12-07 19:34] j2sol commented on #1444
Yeah, some modules do not support the `check` method, and we have a number of tasks that use those modules and register the output as new variables, which get used in later tasks or conditionals. So there are a lot of cases where an Ursula --check run will not work. This is expected, not much we can do about it right now.

[2015-12-07 19:34] #1444 closed

[2015-12-07 20:01] pwplusnick commented on #1318
@j2sol Should we add a line to requirements.txt that requires python >= 2.7.9 based on this issue?

[2015-12-07 21:25] j2sol commented on #1318
I'm not sure we want to start expressing python version requirements in requirements.txt. We can document that it is preferred to run Ursula, but we don't know all the ways people install Ursula, and expressing python version requirements there seems antisocial.

[2015-12-18 19:47] ryshah opened #1467 "Glance image-show displays service password with Swift backend"
More information about issue can be found in Mirtantis technical bulletin http://content.mirantis.com/rs/451-RBY-185/images/Mirantis-Technical-Bulletin-22.pdf

[2015-12-21 08:45] openstacks opened #1472 "tty is hardcoded in ursula/roles/common/tasks/main.yml"
tty is hardcoded in ursula/roles/common/tasks/main.yml

 Include serial console before kernel-tuning to build serial_console_cmdline
 include: serial-console.yml tty=ttyS0
  tags: ['prereboot']

But X3550 server uses another com ttyS1, So it doesn't work on X3550 server.

[2015-12-22 18:18] pwplusnick commented on #1472
@openstacks If that PR I made is accepted, then you can set the serial console in all.yml by assigning
[code]

[2015-12-30 16:52] ryshah commented on #1467
Fixed by #1468

[2015-12-30 16:52] #1467 closed

[2016-01-07 17:28] pwplusnick commented on #1472
@openstacks The PR I made earlier has been merged. You can now specify the serial console to use like I did in my previous comment.

[2016-01-08 17:24] pwplusnick commented on #1472
@j2sol This issue is ready to be closed.

[2016-01-08 17:35] epwn opened #1498 "Pymongo does not get installed when ceilometer is enable"
When running a deploy using site.yml, if ceilometer is enable, it fails to deploy properly. Pymongo does not get installed during the deployment process. Manually installing it on the controller node results in a connection error when creating the ceilometer user in mongodb.

[code]

[2016-01-08 18:51] #1472 closed

[2016-01-08 19:03] j2sol commented on #1498
oh interesting. This appears to be the Ansible module that requires pymongo, rather than ceilometer itself. We do install pymongo in the ceilometer venv (https://github.com/blueboxgroup/ursula/blob/master/roles/ceilometer-common/defaults/main.yml#L5-L7) but not in the system where the Ansible module could find it.

This does happen on the mongodb server role, for the primary server: https://github

[2016-01-11 22:13] pwplusnick commented on #1498
@epwn Can you give me some reproduction steps?

[2016-01-22 17:36] bdrich commented on #1435
Can we close this? Looks like it's been fixed already.
https://github.com/blueboxgroup/ursula/commit/f42947bcd1fa9b287872ba6cec1257b8c30f50f3

[2016-01-22 19:12] #1435 closed

[2016-01-28 08:25] douyq opened #1532 "Manually create security group rules after deployment"
After deployment, security group rules should be added manually.
Should this be automated?
# nova secgroup-add-rule default icmp -1 -1 0.0.0.0/0
# nova secgroup-add-rule default tcp 22 22 0.0.0.0/0

[2016-02-03 09:24] agireud commented on #1343
Another one bites the dust!

[2016-02-03 09:48] ligc commented on #1318
HI,

I am seeing a similar issue with the allinone configuration, the first time I run "ursula envs/example/allinone site.yml", it ends with the error below:

[code]

If I reran "ursula envs/example/allinone site.yml", then got the same error addressed in this issue topic:

[code]

I am running Ubuntu 14.04.3 on x86_64 platforms. Should I update Python on the allinone node?

Thank you for any sugg

[2016-02-03 09:51] notnownikki commented on #1318
That looks like a different issue - perhaps the apt mirror was in the middle of updating, and had got the new package indexes but not all the debs. Can you rerun and see if it completes? Those debs work for me now.

[2016-02-03 16:21] jzer7 commented on #1318
Guang, I have been having the same error.  That is: the Ursula playbook goes through, all apt things work, then changes the repos, then things apt-related fail. As the message from Nov 3 above says, it's due to Ubuntu 14.04-3 LTS using Python 2.7.6, which doesn't come with support for SNI. (Python 2.7.9 adds that).

From what I understand, Ursula uses 2 methods to install packages: (a) the apt mod

[2016-02-03 23:51] j2sol commented on #1318
I'm going to bet that you're using the example `defaults-2.0.yml`, which has a purposefully broken SSL cert in it. That cert is getting used and put into the system certs file, which in turn makes the whole thing broken, and breaks your ability to validate SSL connections.

https://github.com/blueboxgroup/ursula/blob/master/envs/example/defaults-2.0.yml#L456

[2016-02-04 04:59] ligc commented on #1318
Thanks @j2sol, @jzer7, @notnownikki for your suggestions. Here are the steps I tried:

1.  update to python 2.10 on the allinone node
2. add the lines suggested by jzer7 to /etc/apt/apt.conf.d/00ursula on the allinone node
3. Updated the cert and private key in defaults-2.0.yml using the cert and key created locally using openssl commands

But these above steps did not help.

I then edited the ./r

[2016-02-04 16:57] pwplusnick commented on #1318
@ligc: I'm not sure how to solve this issue, but one thing that might be helpful in he future is to run w/ the `-vv` flag for more verbose output.

[2016-02-04 20:03] j2sol commented on #1318
At this point your system's certs file is probably messed up. I'd suggest starting over with a clean OS install and not using the purposefully broken SSL cert in envs/

[2016-02-06 01:49] #1343 closed

[2016-02-11 01:20] j2sol commented on #1318
I'm going to bet that you're using the example `defaults-2.0.yml`, which has a purposefully broken SSL cert in it. That cert is getting used and put into the system certs file, which in turn makes the whole thing broken, and breaks your ability to validate SSL connections.

https://github.com/blueboxgroup/ursula/blob/master/envs/example/defaults-2.0.yml#L456

[2016-02-11 22:05] ryshah opened #1566 "Swift common role should be dependency of all swift related roles"
Currently swift-proxy and swift-ring doesn't have swift-common as dependency

[2016-02-17 07:26] jerrygb opened #1583 "Problem downloading packages from hwraid"
We receive an md5 hash mismatch downloading packages.

[code]

[2016-02-17 07:28] jerrygb commented on #1583
We see some changes in the release file as of yesterday. Maybe the update caused the error?

https://apt-mirror.openstack.blueboxgrid.com/hwraid/ubuntu/dists/precise/Release

Thanks.

[2016-02-17 11:58] j2sol commented on #1583
I've re-run our mirroring script to try to get updated files. Please retry.

[2016-02-17 16:16] jerrygb commented on #1583
Hi Jesse,

Thank you for the reply. Now we have a sync error on another package.

[code]

[2016-02-17 16:21] jerrygb commented on #1583
Hi Jesse,

So, if we take a look at https://apt-mirror.openstack.blueboxgrid.com/hwraid/ubuntu/dists/precise/main/binary-amd64/Packages

Notice that md5sum for this package is 4e3f244a7910f189b325899c8bd0571f.

But when we download it and check the sum, its 3374ad58a63a6d00aa82d4283aea8fb0

root@9d24cee1d4f9:/# wget https://apt-mirror.openstack.blueboxgrid.com/hwraid/ubuntu/pool-precise/cciss-vol-

[2016-02-19 15:07] ryshah commented on #1566
Fixed by #1567

[2016-02-19 15:07] #1566 closed

[2016-02-23 20:36] j2sol commented on #1583
This should be fixed as of this morning.

[2016-02-25 06:04] jzer7 opened #1616 "Problem bringing up Percona cluster"
I apologize, I can read ansible, but not write a fix.

**Problem**: Similar to `envs/example/standard/hosts`, I configured 2 nodes to run the `db` role.  Using Ubuntu 14.04.4, the firewall set up by Ursula prevents communication between nodes in the Percona cluster.  The first node is set in bootstrap mode, which succeeds, but the second node fails the play "bootstrap any secondary nodes".

**Fix*

[2016-02-25 16:01] j2sol commented on #1616
There is a variable, `undercloud_cidr`, that defines the IP space that all of the physical nodes exist on. There is a task in `roles/common/tasks/ufw.yml` that opens up the firewall on every device to accept incoming connections from any other device on that network space. This is how we get percona to talk to each other without restriction.  In your environment, be sure to define `undercloud_cidr

[2016-02-25 16:01] #1616 closed

[2016-02-25 17:57] jerrygb commented on #1583
Thank you @j2sol for the update.

[2016-02-25 17:57] #1583 closed

[2016-03-18 02:39] zhuc opened #1726 "Allinone installation failed with Vagrant - with_items expects a list or a set"
I met this problem when setting up allinone with Vagrant.
`"fatal: [allinone] => with_items expects a list or a set"`
I tried to take a look at the ./roles/common/tasks/monitoring.yml. It seems normal.
 My OS ubuntu 14.04.2.
Did anybody meet this problem?

./roles/common/tasks/monitoring.yml：
[code]
Here's the error log:
[code]

[2016-03-19 22:43] pwplusnick commented on #1726
Should be fixed by this merged PR: https://github.com/blueboxgroup/ursula/pull/1720/commits/aeaef329973976b4ba416e18a9ecef057a36301f

[2016-03-19 22:46] #1726 closed

[2016-04-06 16:38] nathwill opened #1782 "RELEASE-2.1.x allinone fails with undefined variable follow"
trying to spin up an allinone env for testing purposes, and getting this error:

[code]

any suggestions for how to fix?

[2016-04-07 17:27] epwn commented on #1782
I am also getting this problem. ill look into it

[2016-04-07 19:15] nathwill commented on #1782
awesome, thanks folks!

[2016-04-08 04:00] nathwill opened #1786 "allinone trouble"
ran into another problem during allinone VM setup in vagrant:

[code]

i noticed that `/opt/stack/horizon` appears to be an empty repository, but i'm not sure what actually *should* be happening... any advice on how to resolve?

[2016-05-20 18:46] #1786 closed

[2016-05-21 05:27] jerrygb opened #1871 "Juno release branch"
Hi,

May I know if you have Juno release branch available? I suspect we could use the giftwrap and ursula/master, but there would still be a lot of changes in terms of configuration files and such.

We happen to have older stack running on Juno that uses chef. We would love to start converging to the ursula automation (quite possibly to master branch in the future). But before we do that, we need

[2016-05-23 17:30] j2sol commented on #1871
https://github.com/blueboxgroup/ursula/tree/RELEASE-1.3.x  this branch was the latest work we did for Juno. It never coalesced into a release, the RELEASE-1.2.x was the last one that did, but 1.3 is some bug fixes on top of 1.2.x. Still all Juno.

[2016-05-23 17:30] #1871 closed

[2016-05-23 20:38] jerrygb commented on #1871
Thank you 👍

[2016-05-23 20:40] jerrygb opened #1880 "Docker repo change"
Hi,

There has been supposedly some changes in the docker registry recently and Component name on the possibly auto-generated files is incorrect.

https://apt-mirror.openstack.blueboxgrid.com/docker/repo/dists/ubuntu-trusty/InRelease
https://apt-mirror.openstack.blueboxgrid.com/docker/repo/dists/ubuntu-trusty/Release

Regards,
Jerry

[2016-08-23 07:00] openstacks opened #2144 "aodh-experer service is keeping crash"
aodh-expirer service is keeping up and down frequent .

~$ service aodh-expirer status
aodh-expirer start/running, process 11374

~$ service aodh-expirer status
aodh-expirer start/running, process 11984

~$ service aodh-expirer status
aodh-expirer start/running, process 12005

~$ service aodh-expirer status
aodh-expirer start/running, process 12023

~$ service aodh-expirer status
aodh-expirer star

[2016-08-23 22:31] j2sol commented on #2144
We've filed an internal defect to look into this. There is surprisingly little documentation on what this "service" is supposed to do.

[2016-09-20 03:46] openstacks opened #2200 "The number of processes is not correct found by /etc/sensu/plugins/check-procs.rb script"
### Defect:
The number of processes is not correct found by /etc/sensu/plugins/check-procs.rb script.

When we use this scripts to monitor RabbitMq service, Both rabbitmq and sensu check process are counted which make sensu client report ""unexpected number of rabbitmq processes",

It should only counted RabbitMq process.

### How to fix it?
we should add a parameter -u rabbitmq:
/etc/sensu/plugin

[2016-09-20 17:31] j2sol commented on #2200
Good catch, but slightly wrong fix. The problem is that we're searching for `rabbitmq` instead of `rabbitmq-server`. So we're finding any process with the name `rabbitmq` somewhere in it (except for the one that belongs to the check itself). Simply changing the name narrows down the count to just the rabbitmq-server process.

[2016-09-20 18:52] #2200 closed

[2016-10-28 11:49] chrisrana commented on #1333
I am also getting same probelm.I am using liberty and
[code]
glance image-show command  works in root user but fails ubuntu user.

[2016-12-12 05:44] chengtcli opened #2331 "It's not consistent to add repo for ubuntu and centos/redhat"
The `repos` role is able to add repository for ubuntu and centos/redhat.
But the usages are different(For ubuntu, we need to specify the repo_url and key_url. For redhat, we just specify the repo name which is defined in repos/default/main.yml or all.yml):
[code]

I am wondering if we can make some improvements of the `repos` role, so that we can add repository without considering what the OS it i

[2017-09-07 08:50] Warlord77 opened #2936 "ursula vagrant provisioning error"
ursula --provisioner=vagrant /root/ursula/envs/example/allinone-centos vagrant.yml

ERROR: Command '['/usr/bin/vagrant', 'status', '--machine-readable']' returned non-zero exit status 1
This is happening even after I added vagrant to sudoers list

[2018-03-01 14:37] #1099 closed